<ion-content [fullscreen]="true">
  <div class="header">
    <ion-title class="title">
      Entre com seu email
      <p class="subTitle">Digite o código </p>
    </ion-title>
  </div>
  
  <ion-item>
    <ion-input placeholder="email" class="input"></ion-input>
  </ion-item>

  <ion-fab vertical="bottom" horizontal="end" style="margin-bottom: 30px;">
    <ion-fab-button [routerLink]="['/home']">
      <ion-icon name="chevron-forward"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
