/* Estilo para o conteúdo do Ion */
ion-content {
    --background: linear-gradient(190deg, #848485, #45d6c6);
    font-family: "Arimo", sans-serif;
  }
  
  /* Estilo para o cabeçalho */
  .header {
    margin-top: 100px;
    margin-bottom: 60px;
    text-align: center;
  }
  
  .Trackgo {
    font-size: 34px;
    font-weight: bold;
    color: #ffffff;
  }
  
  .subTitle {
    color: #dbff00;
    font-size: 1.02rem;
    margin-top: 5px;
    font-family: "Jaturat", sans-serif;
    font-style: italic;
  }
  
  /* Estilo para itens de lista */
  ion-item {
    --background: transparent;
    border-radius: 10px;
    margin-bottom: 16px;
    color: #000000;
  }
  
  /* Estilo para inputs */
  ion-input {
    font-size: 16px;
    font-weight: 600;
  }
  
  /* Estilo para o botão */
  ion-button {
    --background: #000000;
    display: flex;
    width: 100%;
    margin-top: 10px;
    font-family: "Arimo", sans-serif;
    border-radius: 5px;
    color: #ffffff;
    text-align: center;
  }
  
  /* Estilo para o botão fab (se houver) */
  ion-fab-button {
    --background: #dbff00;
  }
  
  /* Estilo para links e elementos relacionados */
  .signupLink {
    display: flex;
    margin: auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
    border: solid 1px #000000;
    border-radius: 10px;
  }
  
  .signupLink a {
    font-size: 1rem;
    font-family: "Arimo", sans-serif;
    font-weight: 600;
    text-decoration: none;
    padding: 8px;
  }
  
  /* Estilo para separadores */
  .separador {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  .separete1, .separete2 {
    flex: 1;
    height: 1px;
    background-color: #000000;
    margin: 0 10px;
  }
  
  .ou {
    margin: 0 10px;
    white-space: nowrap;
    font-family: "Arimo", sans-serif;
    font-weight: 600;
    font-style: italic;
    color: #000000;
  }
  