<ion-content [fullscreen]="true">
  <div class="header">
    <ion-img src="assets/img/trackgo.png" class="logo"></ion-img>
    <p class="subTitle">Desenvolva-se e desempenhe o seu melhor</p>
  </div>
  <form [formGroup]="loginForm" novalidate>
    <div class="ion-padding">
      <ion-item>
        <ion-input formControlName="email" placeholder="Usuário" class="input"></ion-input>
        <ion-icon name="person-outline"></ion-icon>
      </ion-item>
      <div *ngIf="this.loginForm.controls?.['email'].touched && this.loginForm.controls?.['email'].invalid">
        <ion-text *ngIf="errorControl.email.errors?.required">
          Email is required
        </ion-text>
        <ion-text *ngIf="errorControl.email.errors?.pattern">
          Email should be valided
        </ion-text>
      </div>
      <ion-item>
        <ion-input formControlName="password" placeholder="Senha" class="input"></ion-input>
        <ion-icon name="lock-closed-outline"></ion-icon>
      </ion-item>
      <div *ngIf="this.loginForm.controls?.['password'].touched && this.loginForm.controls?.['password'].invalid">
        <ion-text *ngIf="errorControl.password.errors?.required">
          Password is required
        </ion-text>
        <ion-text *ngIf="errorControl.password.errors?.pattern">
          Password must atlest have
          One Character
          One Capital Latter
          One Number
          Contain 8 digits
        </ion-text>
      </div>

      <div class="forgotpassword">
        <a [routerLink]="['/reset-password']" style="color:#000000;">Esqueceu sua senha?</a>
      </div>

      <div class="buttons">
       <ion-button (click)="login()"><b>ENTRAR</b></ion-button>

       <ion-button class="loginG"><b>ENTRAR COM GOOGLE</b></ion-button>
      </div>
    
      <div class="separador">
        <div class="separete1"></div>
        <p class="ou">ou</p>
        <div class="separete2"></div>
      </div>
      

      <button class="signupLink" [routerLink]="['/signup']"style="color:#000000;">Criar uma conta</button>
      
    </div>

  </form>
</ion-content>
