<ion-content [fullscreen]="true" class="custom-content">
  <header class="header">
    <ion-title slot="start">Minha Conta</ion-title>
    <ion-button [routerLink]="['/tabs/profile']" fill="outline" slot="end" class="custom-button">
      <ion-icon slot="start" name="person-outline"></ion-icon>
      Perfil
    </ion-button>
  </header>
  <div class="container">
    <div class="row">
      <span class="label">E-mail</span><span class="valor">{{ email || 'N/A' }}</span>
    </div>
    <div class="row">
      <span class="label">Distância Total</span><span class="valor">1.234 Km</span>
    </div>
    <div class="row">
      <span class="label">Ritmo</span><span class="media">Regular</span>
    </div>
  </div>
  <div class="btn-action">
    <button class="alt-senha">Alterar senha</button>
    <button (click)="signOut()" class="logout">Sair da conta</button>
  </div>
</ion-content>
